<p id="notice"><%= notice %></p>

<p class="lead">All Books</p>


<div class="container">
  <div class="row text-center card-row">
    <% @books.each do |book| %>
      <%= link_to book, :class => "col-lg-2 col-md-2 mb-2" do %>
        <div class="card book-card">
          <%= image_tag book.cover_url, :class => "card-img-top" %>
          <div class="card-body">
            <h4 class="card-title"><%= book.title %></h4>
            <p class="card-text"></p>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>

  <br>
  <br><br><br><br>
  <%if @current_user.is_admin %>
  <%= link_to 'Add Book', new_book_path, :class => "btn btn-success", :style => "color: #ffffff" %>
  <% end %>
