<p id="notice"><%= notice %></p>

<%if !@currentbook.nil?       #user_id is not nil%>
  <h1>Check out history of 
    <i style='color:#428bca'>
      <%=@currentbook.title%>
    </i>
  </h1>
<%else %>
  <h1>Checkout history</h1>
<%end%>

<table class='table'>
  <thead>
    <tr>
      <th>Book</th>
      <th>Check out date</th>
      <th>Check in date</th>
      <th>Checked out by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @book_histories.each do |book_history| %>
  <% @book = Book.find(book_history.book_id) %>
  <% @user = User.find(book_history.user_id) %>
  <% @book_id = book_history.book_id %>
  <% #History of a user %>

  <% #History of a book %>
  <tr>
    <td>
      <%= link_to @book, :class => "col-lg-2 col-md-2 mb-2" do %>
        <%= @book.title %>
      <% end %>
    </td>
    <td><%= book_history.chk_out_dt.strftime("%b/%d/%Y") %></td>
    <%if !book_history.chk_in_date.nil?%>
      <td><%=book_history.chk_in_date.strftime("%b/%d/%Y")%></td>
    <%else%>
      <td><%=book_history.chk_in_date%></td>
    <%end%>
    <td><%= @user.name %>&nbsp(&nbsp<%=@user.email%>&nbsp)</td>
  <%end%>
  <%#End of history of a book%>
  </tbody>
</table>
<br>
</br>
<%= link_to 'Back', :back, :class => "btn btn-warning", :style => "color: #ffffff" %>